PySide6>=6.7.0
numpy>=1.26.0
scipy>=1.13.0
matplotlib>=3.8.0
SQLAlchemy>=2.0.0
h5py>=3.10.0
reportlab>=4.0.0
pyserial>=3.5
pytest>=8.0.0
# 1.代码结构
tree /F > structure.txt
# 2. 把所有修改的文件加入暂存
git add .
git commit -m "这里写你改了什么：比如完成文件操作实验代码"